services:
  postgres:
    image: postgres:18.1
    container_name: la_noire_db
    environment:
      POSTGRES_DB: la_noire_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:

