services:
  postgres:
    image: postgres:18.1
    container_name: la_noire_db
    environment:
      POSTGRES_DB: la_noire_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: la_noire_backend
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      POSTGRES_DB: la_noire_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_HOST: postgres
      POSTGRES_PORT: "5432"
      ALLOWED_HOSTS: "localhost,127.0.0.1,backend"
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: la_noire_frontend
    environment:
      VITE_API_URL: http://localhost:8000/api/v1
    ports:
      - "3000:80"

volumes:
  postgres_data:

